<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.created_at.strftime("%b/%d/%Y") %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale,  length: 15) %>
  </td>
  <td>
    <%= link_to "Edit", edit_post_path(post), id: "edit_post_#{post.id}" %>
  </td>
</tr>